/* Estilos para o cabeçalho */
header {
  background-color: #6f4cc4; /* Cor roxa */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0%!important;
  
}

#logoImg{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px; /* Defina a largura desejada */
  height: auto; /* A altura será ajustada automaticamente para manter a proporção da imagem */
}

.logo img {
  display: block; /* Certifique-se de que a imagem se comporte como um bloco */
  width: 150%;
  height: auto; /* A altura será ajustada automaticamente para manter a proporção da imagem */
}


nav ul {
  display: flex !important;
  align-items: center !important;
  justify-content: center!important;
  margin: 0px!important;
}
.ativo a{
  background-color: #6f4cc4 !important;; 
  color: #FAED3E !important;
}

.Bheader {
  width: 60px;
  height: 60px;
  font-size: 18px;
  background: #6f4cc4;
  border: none;
  border-radius: 0px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  padding: 10px;
  margin: 2px;
}

.Bheader:hover {
  background-color: transparent;
  color: #FAED3E;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav li a {
  text-decoration: none;
  color: #000000; /* Cor amarela */
  font-weight: bold;
}
/*---------------------------------INDEX-----------------------------------------*/
/*MAIN index*/

body {
  margin: 0;
  font-family: Bookman, URW Bookman L, serif!important;
  background-color: rgb(188, 188, 188);
}
main {
  width: auto;
  background: rgb(188, 188, 188);
  color:black;
  padding: 112px !important;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
}	


/* Estilos para a div quem */
.quem-somos {
  
  background-color: rgb(188, 188, 188);
  text-align: justify;
  margin-top: 20px;
  margin-right: 10%;
  padding: 10px;
}

.carousel-container {
  background-color: rgb(188, 188, 188);
}



/*---------------------------------PROFISSIONAIS-----------------------------------------*/

/*Main profissionais*/

#profissionais {
  padding: 20px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.profissional {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profissional img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

hr {
  width: 80%;
  height: 1px;
  background-color: #6f4cc4;
  border: none;
}

/*---------------------------------Formulario-----------------------------------------*/

/*Fomrulário*/

form {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #6f4cc4;
  background-color: #6f4cc4;
  border-radius: 5%;
  text-align: center;
  justify-content: flex-start;
  flex-direction: column;
}

.checkbox-custom {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #ccc;
  margin-right: 5px;
  vertical-align: middle;
}

.checkbox-custom::before {
  content: "";
  display: none;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 2px;
  margin: 3px;
}


#contact-form{
  background-color: #6f4cc4;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}

.input-box.error small{
  color: red;
  display: block;
}

.input-box.success small{
  color: green;
  display: block;
}

.input-box.error input {
  border: 3px solid #DB5A5A;
}

.input-box.success input {
  border: 3px solid #5adb9d;
}



input[type="checkbox"] {
  margin-right: 5px;
}


label {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
}

.terapias, label{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-top: 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}



button {
  padding: 5px;
  background-color: #FAED3E;
  color: black;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #6f4cc4;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group button {
  flex: 1;
  margin-right: 10px;
}

.radio-group {
  display: flex;
  gap: 10px;
}

.radio-group label {
  display: flex;
  align-items: center;
  color: #000;
  flex-direction: column;
  padding: 5%;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}


#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
  background-color: #fff;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#modal p {
  margin: 0 0 10px;
}


/*---------------------------------Confirma-----------------------------------------*/

/*Confirma*/

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
   font-size: 24px;
  margin-bottom: 20px;
}

.conteiner p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilos para o rodapé */
footer {
  background-color: #6f4cc4;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 100px;
  }

  header {
    height: auto;
    width: auto;
    padding: 20px 2%;
    align-items: center;
    display: flex;
    justify-content: center;

  }

  nav ul{
    width: 70%;
    font-size: 70%;
  }

  nav {
    top: 100px;
    left: 0;
    right: 0;
    background-color: #6f4cc4;
    padding: 3%;
    position: absolute;
    display: block;
    display: flex;
    justify-content: center;
  }
  

  /*---------------------------------index -----------------------------------------*/

  /*---------------------------------profissionais -----------------------------------------*/
  .h2-mobile {
    
    text-align: center;
  }
/*---------------------------------formulario-----------------------------------------*/
  .radio-mobile {
    display: flex;
    flex-direction: column; /* Altera a direção do fluxo para coluna */
    gap: 10px;
    padding: 2%;
  }

  

/*---------------------------------agradecimento-----------------------------------------*/


}